:root.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --main-heading-text-color: #db00ff;
  --main-font: 'IBM Plex Mono', monospace;
}

.page.theme_dark {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
