.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --main-heading-text-color: #ffc2e6;
  --main-font: 'IBM Plex Mono', monospace;
}

.page.theme_light {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url(/images/cover-image-light.png);
}

.theme_light .decorated-zone::after {
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
}

.theme_light .decorated-zone::before {
  border-inline-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.theme_light .header__decor-rec {
  opacity: 0;
}

.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.theme_light .header__description {
  color: var(--text-color);
}

.theme_light .content__title {
  color: var(--text-color);
}

.theme_light .content__title__accent {
  color: var(--text-color);
  background-color: var(--accent-color);
}
